/* Aplica o estilo em todos os elementos: p, div, button, etc */
* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url('./assets/78a5b82b32389a6082a88a334c5b8722.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(4px);
}



main {
  font-size: 0.7em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
  display:flex;
  align-items: center;
  justify-content: center;


  height: 100vh; 
}

.container {
  background: rgba(0, 0, 0, 0.60);
  color: white;
  padding: 4.25rem 3rem 15rem 3rem;
  border-radius: 0.2rem;

}

h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  
  text-align: inherit;

  margin-bottom: 1rem;
  

}
form {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}



input {
  color: white;
  outline: none;
  border-radius: 0.3rem;
  border: 1.5px solid black;
  padding: 5%;
  background: rgba(0, 0, 0, 0.60);
  width: 200px
}



button {
  background-color: wheat;
  border-radius: 0.2rem;
  border: none;
  color: white;
  width: 221px;
  padding: 8px;
  outline: 1px solid wheat;
}


button.btn-azul {
  background-color: blue;
  outline: 1px solid blue;

}

button .btn-azul {
  background-color: blue;
  outline: 1px solid blue;

}

button:hover {
  cursor: pointer;
  background-color: rgba(245, 222, 179, .85);
  transition: all .25s ease-in;
  outline: 1px solid wheat;

}